@font-face {
    font-family:TC Vidwrk;
    src: url(../Fonts/TC\ Vidwrk.woff2);
}
 body{
    font-family: sans-serif;
    /*width: 1280px;*/
 }
 a{
text-decoration: none;
color: #808cfd;
 }
h1 {
    color: blueviolet;
    font-size: 116px;
    font-family: TC Vidwrk;
    line-height: 110%;
    font-weight: 800;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

#heroButton {
    background-color: blueviolet;
    color: bisque;
    border-radius: 7.25px;
}
.link {
    text-decoration: underline
}

section {
    background-color:#E9ECFF;
    display: inline-flex;
}
div{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 66px;
  
}
/*.TextLink{
    display:flex;
    flex-direction: column;
    gap: 30px;
    }*/

    /*.H2_section {
  
    gap: 19px;
    width: 426px;
    height: 480px;
}   */

#CallAction {
    background-color: #808CFD;
}


/*Хедр*/
header {
    background-color: #d2b4e0;
}
.Лого{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap:30px;
}
.Хедр {
    display: inline-flex;
    flex-direction: row;
    gap:900px
}
.header_home{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 60px;
      
}
/* убираем точки перед элементами списка */
 .menu {
    display: inline-block;
 }


    



/*Блок меню с gap 60px*/
.menu_intems {
    display: inline-flex;
    gap: 60px;
    align-items: center;
}
.ReserveSpot { /*кнопка в меню*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    border-radius: 7px;
    padding-block: 12px;
    padding-inline: 17px;
    width: 185px;
    height: 41px;
    background: #808cfd;
}
.ReserveSpot:hover {
    background-color: #000;
    text-decoration: none;
    color: #fff;
    
}


.herobackground {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid #000;
    padding-block: 20px 20px;
    padding-inline: 20px;
    width: 1280px;
    height: 249px;
    max-width: 1920px;
}
h3{
    font-family: "Anek Tamil", sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.Textlink_column {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 0px;
width: 426px;
height: 600px;
}
.Список_Преимуществ {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    border-bottom: 1px solid #000;
    padding-block: 0px;
    padding-inline: 20px;
    width: 426px;
    height: 112px;
    
}
